<html>
  <head>
    <title>Mon title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <div class="container-fluid">
      <div class="d-flex flex-column align-items-center justify-content-center w-100" style="height:100vh;">
        <h1>Liste des chapitres</h1>
        <div class="d-flex flex-row">
          <% if (chapters && chapters.length) { %>
            <% chapters.forEach((chapter) => { %>
              <div class="card mr-4"  style="width: 18rem;">
                  <div class="card-body">
                    <h4 class="card-title"><%= chapter.title %></h4>
                    <p class="card-text">Number of lessons: <%= chapter.nbrOfLesson %></p>
                    <a href="/chapters/delete/<%= chapter._id %>" class="btn btn-danger">Delete</a>
                    <a href="/chapters/<%= chapter._id %>" class="btn btn-primary">Details</a>
                  </div>
              </div>
            <% }) %>
          <% } %>
        </div>
        <div class="mt-4">
          <a href="/chapters/add" class="btn btn-primary">Add Chapter</a>
        </div>
      </div>
    </div>
  </body>
</html>